<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.third.easyprice.dao.ChinaMobileDao">

    <insert id="insertData" parameterType="java.util.Map" >
    insert into chinamobile_info
        ( title , province , city , district , address ,lng ,lat)
        values (
        #{title},
         #{province},
        #{city},
        #{district},
        #{address},
        #{lng},
        #{lat}
        )

  </insert>

    <resultMap id="BaseMap" type="com.third.easyprice.bean.China">
        <result property="id" column="id"/>
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="pid" column="pid"/>
    </resultMap>

    <select id="getCity" resultMap="BaseMap">
        select NAME name
        from china_zhengzhou
    </select>


</mapper>